.video-container {
  width: 280px;
  height: 200px;
  overflow: hidden;
}

.video {
  opacity: 0;
  transition: opacity 0.2s;
}

.video.playing {
  opacity: 1;
}

/* loopOfMovements.css */

.loop-of-movements {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10;
  justify-content: center;
  align-items: center;
}

.video-container {
  position: relative;
  width: 100%;
  max-width: 560px; /* Adjust the max-width as needed */
  border-radius: 10px;
}

.video-play-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
  cursor: pointer;
  border-radius: 10px;
}

.video-play-button img {
  width: 50px;
}

.video-player {
  width: 100%;
  height: auto;
}